#calculator{
    display: flex;
    flex: 1;

    flex-direction: column;
    margin-right: 20px;
}

#container{
    height: 100%;
    box-sizing: border-box;
    display: flex;
    padding: 10px;
    padding-top: 20px;

    flex-direction: row;

}

#calc_display{
    flex: 1;
    font-size: 23px;
    color: #fff;
}   

#calculator #keypad{
    flex: 3;
    border-spacing: 10px 10px;
    margin-top: 15px;
}

.keybutton{
    box-sizing: border-box;
    border: 10px solid var(--color-fg);
    border-radius: 90px;
    border-collapse: collapse;
    font-size: 45px;

    text-align: center;
    user-select: none;

    transition-property: background, scale;
    transition-duration: 600ms, 50ms;
}

.keybutton:hover{
    transition-duration: 300ms, 50ms;
    background: var(--color-fg);
}

.keybutton:active{
    scale: 90%;
}

#products{
    flex: 1;

    display: flex;
    flex-direction: column;

    height: 100%;
}

#products #display{
    font-size: 28px;
    flex: 3;

    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

#products #buttons{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#addbutton{
    background: var(--color-pos);
    font-size: 60px;
}

#removebutton{
    background: var(--color-neg-light);
    font-size: 60px;
}

#nextbutton{
    background: var(--color-pass);
    font-size: 50px;
}

#buttons div{
    flex: 1;
    display: flex;
    flex-direction: row;
}

#display_title{
    flex: 1;
    opacity: 70%;
}

#prodlist_container{
    flex: 10;
    width: 100%;
    overflow-y: scroll;
}

#prodlist{
    width: 100%;
    border-spacing: 0;

    overflow: auto;
}

#prodlist th{
    opacity: 80%;
    text-align: left;
    user-select: none;
}

.flash_opacity{
    animation: flash_opacity 300ms linear infinite alternate;
}

@keyframes flash_opacity {
    from{
        opacity: 100%;
    }to{
        opacity: 40%;
    }
}

#prodlist tr{
    user-select: none;
    cursor: pointer;
    padding: 3px;
}

#total_price{
    flex: 1;
}