#container{
    background: var(--color-neg);
    padding: 10px;
    text-align: center;
}

#receipt_table{
    border-spacing: 20px;
    text-align: left;
}

#donebutton{
    font-size: 25px;
    padding: 5px;
    background: var(--color-fg);
    color: #fff;
}